@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
:root{
    --primary-color:#84cc16;
    --grey:#a8a29e;
    --offwhite:#d4d4d4
    ;


}
body{
    font-family: 'Nanum Gothic', sans-serif;
     margin: 0px;
}

hr{
    margin: 2rem 0rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.link{
    text-decoration: none;
    padding:0.5rem 1rem;

}
.link-primary{
    background-color:var(--primary-color);
    border-radius:0.5rem;
    color:white;
}

.link-secondary{
    border: 1px solid var(--primary-color);
    border-radius:0.5rem;
    color: var(--primary-color);
}

.list-unordered-list{
list-style: none;
}

.list-unordered-inline-list{
    display:inline;
    padding:0rem 0.5rem;
}

.navigation{
    background-color:var(--primary-color);
    color:white;
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link{
    color:white;
    
}

.nav-path{
    text-align: right;
}

.nav-brand{
    font-weight:bold;
}

.navigation .link-active{
    font-weight:bold;
}


.hero{
    padding:2rem;
}

.hero .hero-image{
    max-width: 400px;
    display:block;
    margin:auto;


}

.hero .hero-heading{
color:var(--grey);
padding-top: 1rem;
text-align: center;
}

.hero .hero-heading .highlight{
    color:var(--primary-color);
}
.section{
padding: 2rem;
}

.section h1{
text-align: center;

}

.grey{
    background-color: var(--offwhite);

}

.footer{
    background-color: var(--primary-color);
    padding:2rem 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: center;
    color:white
}

.footer .link{
    color:white;
}